.l-insider {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.list {
    display: flex;
    font-size: 1rem;
}

.dltBtn {
    display: flex;
    font-size: 30px !important;
    border-radius: 20px;
    cursor: pointer;
}

.dltBtn:hover {
    transform: scale(1.2);
}